@import "../../../styles/variables.scss";

.burger_button {
    background: $primary-color;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
    border: 0;
    width: 56px;
    height: 56px;
    margin-right: 32px;
    transition: 0.3s;

    &:hover {
        background: $primary-color-2;
    }

    span {
        background-color: $white-color;
        position: absolute;
        width: 24px;
        height: 2px;
        transition: all 0.3s;
        transform: translate(-50%, -50%);

        &:nth-of-type(2) {
            top: calc(50% - 7px)
        }

        &:nth-of-type(3) {
            top: calc(50% + 7px)
        }
    }
}

.active {
    span:nth-of-type(1) {
        display: none;
    }

    span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
}