@import '../../styles/variables.scss';

.tabs {
    overflow: hidden;

    .react-tabs__tab-list {
        border-bottom: 1px solid $background-graphite;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;

        @media (max-width: 600px) {
            flex-direction: column;
        }

        .react-tabs__tab {
            list-style-type: none;
            color: #fff;
            outline: none;
            cursor: pointer;
            padding: 20px;
            border-bottom: 2px solid transparent;
            transition: 0.3s ;
            transform: translateY(1.5px);

            &:hover {
                border-color: $primary-color;
            }

            &--selected {
                border-color: $primary-color;
            }
        }

        &-panel {
            width: 100%;
        }
    }
}