$primary-color: #7b61ff;
$primary-color-2: #917cff;
$secondary-color: #80858b;

$background-black: #000000;
$background-dark: #242426;
$background-graphite: #323537;

$error-color: #ff5154;
$light-color: #afb2b6;
$white-color: #ffffff;

$green-color: #00a340;
$yellow-color: #f3a608;
$orange-color: #f45d2d;
