@import '../../../styles/variables.scss';

.favbutton {
    background: $background-graphite;
    color: $white-color;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 16px 32px;
    cursor: pointer;
    border: 0px;
    outline: 0px;
    transition: 0.3s;
    gap: 10px;
    width: 100%;
    font-size: 16px;

    &:hover {
        background: $primary-color-2
    }
}

.active {
    background: $primary-color;

    &:hover {
        background: $primary-color-2
    }
}