@import '../../../../styles/variables.scss';

.person {
    width: 266px;
    height: 433px;
    position: relative;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    z-index: 22;

    @media (max-width: 1720px) {
        width: 208px;
    }

    @media (max-width: 600px) {
        width: 272px;
    }

    &:hover h2 {
        color: $primary-color !important;
    }

    &:hover {
        &:after {
            background-color: rgba(#000, 0.2);
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 358px;
        border-radius: 20px;
        background-color: rgba($background-black, 0);
        transition: 0.3s ;

        @media (max-width: 1720px) {
            height: 279px;
        }

        @media (max-width: 600px) {
            height: 357px;
        }
    }

    .person_photo {
        height: 357px;
        padding: 20px;
        border-radius: 20px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 0.3s ;
        position: relative;

        @media (max-width: 1720px) {
            height: 279px;
        }

        @media (max-width: 600px) {
            height: 357px;
        }
    }

    .person_description {
        display: flex;
        flex-direction: column;
        max-height: 76px;

        h2 {
            font-size: 16px;
            color: $white-color;
            font-weight: 700;
            line-height: 24px;
            transition: 0.3s ;
            margin-bottom: 4px;
        }

        p {
            color: $light-color;
            margin: 0;
        }
    }
}