.header {
    margin: 0 auto;
    max-width: 1610px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 40px;
    align-items: center;

    @media (max-width: 1760px) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
        padding: 0 20px;
        padding-top: 40px;
    }

    .left_container {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;

        @media (max-width: 1760px) {
            margin-right: 40px;
        }
    }
}

.disable {
    display: none;
}

.active {
    display: flex;
}