@import '../../styles/variables.scss';

.footer {
    padding-top: 100px;
    padding-bottom: 60px;
    margin: 0 auto;

    p {
        color: $light-color;
        font-weight: 500;
        line-height: 24px;
    }
}