@import '../../styles/variables.scss';

.submit {
    background: $primary-color;
    color: $white-color;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 16px 32px;
    cursor: pointer;
    border: 0px;
    outline: 0px;
    transition: 0.3s;

    &:hover {
        background: $primary-color-2;
    }
}