@import '../../styles/variables.scss';

.logo_button {
    padding-left: 40px;
    padding-top: 40px;
}

.form_container {
    max-width: 574px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 150px;
    background: $background-dark;
    border-radius: 10px;
    padding: 40px;

    .errors {
        color: $error-color;
        margin-bottom: 5px;
    }

    h2 {
        color: $white-color;
        margin-bottom: 40px;
    }

    p {
        color: $secondary-color;
        display: flex;
        justify-content: center;
        margin-top: 15px;

        a {
            transition: 0.3s;
            padding-left: 20px;
            text-decoration: none;
            color: $primary-color;

            &:hover {
                color: $primary-color-2
            }
        }
    }
}

.light {
    background: $white-color;

    h2 {
        color: $background-black
    }

    p {
        color: $background-black
    }

    .forgot_link {
        color: $background-black;

        &:hover {
            color: $primary-color
        }
    }
}